.col-user-p {
    width: 26%;
}

.col-content-p {
    width: 94%;
}

.col-media-p {
    width: 16%;
}

.col-comments-p {
    width: 18%;
}

.col-date-p {
    width: 20%;
}

.col-actions-p {
    width: 32%;
}
