.col-user-c {
    width: 24%;
}

.col-comment-c {
    width: 94%;
}

.col-post-c {
    width: 16%;
}

.col-replies-c {
    width: 16%;
}

.col-date-c {
    width: 22%;
}

.col-actions-c {
    width: 16%;
}
