body {
    font-family: Helvetica, Arial, sans-serif;
    margin-inline: 200px;
}

.wrap-main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    padding: 10px 200px; 
    height: 60px; 
    background-color: white;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    height: 60px; 
}


.nav-logo {
    margin-right: auto;
    font-family: cursive;
    font-weight: bold;
    font-size: 26px;
}

.auth-nav {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

/* === TOP TABS === */
.top-tabs {
    display: flex;
    justify-content: center;
    gap: 250px;
    padding: 12px 0;
    margin-top: 0;             
    margin-inline: auto; 
    max-width: 700px;  
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    position: sticky;           
    top: 60px;                  
    z-index: 60;                
}

/* === LAYOUT PRINCIPAL === */
.main-layout {
    display: flex; 
    width: 100%;
    margin-top: 50px;
}

/* === SIDEBAR IZQUIERDO FIJO === */
.sidebar-left {
    position: fixed;
    width: 250px;
    padding-top: 30px;
    height: calc(100% - 60px); 
    top: 60px; 
}

/* === CONTENIDO PRINCIPAL === */
.content-web {
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
}

/* === Sidebar interno === */
.wrap-select-web {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row-store {
    display: flex;
    gap: 10px;
}

.nav-colum {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
